<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Query result</title>
</head>
<body>
    <h1>Computer data</h1>
    <p>Name and type: <%= result.name %> <%= result.type %></p>
    <p>Amount: <%= result.amount %></p>
    <p>Price: <%= result.price %></p>

    <a href="/"><button>Menu</button></a>
</body>
</html>